<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TargetDirectories" value="" />
    <add key="IndexFilePath" value="" />
    <add key="BackupFolder" value="" />
    <add key="SearchLevel" value="" />
    <add key="SearchPattern" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>